@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    font-family: 'Roboto', sans-serif;
    color: blueviolet;
    font-size: 20px;
    font-weight: 256;
    font-weight: 700;
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height:100vh;
    background-color: #f4f4f4;
}


/* INICIO DA PÁGINA HOMEPAGE AQUI*/

/* CLASSE DO CONTEINER*/

.principal{
    width: 70%;
    max-width: 450px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    background-color: #e3e3e3;
    padding: 62px;
    box-sizing: border-box;
    box-shadow: 9px 8px 0px 0px;
}

/* CLASSE DOS BORTÕES E NOME*/
.inicio{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 750px;
    font-size: 18px;
}

/* CLASSE CA MESAGEM DO SEJA BEM VINDO*/
.wellcome{
    display:flex;
    align-items:center;
    /* justify-content:center; */
    padding: 20px;
    /* background-color: blueviolet; */
    /* width: 100%; */
    min-width: 279px;
    /* height: 300px; */
    max-width: 450px;
    /* display:flex; */
    align-items:center;
    border-radius: 0;
    border: solid 1px blueviolet;
    margin-top: 13px;
    padding: 0px;
    padding-left: 32px;
}

h1{
    font-size: 55px;
    font-weight: 900;
    font-style: italic;
    width:60%;
    padding-left: 30px;
}

i{
    font-size: 47px;
    font-weight: 500;
}


.barra{
    height: 100%;
    max-height:67%;
    width: 10px;
    background-color: blueviolet;
}

/* CLASSE CA MESAGEM DO SEJA BEM VINDO ACABA AQUI*/

a{
    text-decoration: none;
}

/* CLASSE DOS BOTÕES DA HOMEPAGE*/

.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blueviolet;
    color: white;
    width: 75px;
    height: 37px;
    /* border-radius: 10px; */
    border: none;
}

.btn-2{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    color: white;
    width: 75px;
    height: 37px;
    border: none;
}

.lista-button{
    margin-top: 20px;
    color: sienna;
}

.lista-link{
    margin-top: 25px;
    text-decoration: underline;
}

.lista-link a {
    color: #585858;
}
    

/* CLASSE DOS BOTÕES DA HOMEPAGE ACABA AQUI*/


/* FIM DA PÁGINA HOMEPAGE AQUI*/




/* INICIO DA PÁGINA DE LOGIN*/

/* FIM DA PÁGINA DE LOGIN*/

