@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    font-family: 'Roboto', sans-serif;
    color: black;
    font-size: 20px;
    font-weight: 400;
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height:100vh;
}

.principal{
    width: 70%;
    max-width: 1170px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}

.inicio{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 61%;
    max-width: 1170px;
    font-size: 18px;
}

.wellcome{
    display:flex;
    align-items:center;
    justify-content:center;
    padding: 20px;
    background-color: blueviolet;
    width: 39%;
    min-width: 400px;
    height: 300px;
    display:flex;
    align-items:center;
    border-radius: 0px 200px;
}

h1{
    font-size: 55px;
    font-weight: 900;
    font-style: italic;
    color: white;
    width:60%;
    padding-left: 30px;

}

#barra{
    height: 100%;
    max-height:67%;
    width: 10px;
    background-color:white
}



a{
    text-decoration: none;
}

.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blueviolet;
    color: white;
    width: 75px;
    height: 45px;
    border-radius: 10px;
}

.btn-2{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    color: white;
    width: 75px;
    height: 45px;
    border-radius: 10px;
}

.lista-button{
    margin-top: 20px;
    color: sienna;
}
