{% extends "base.html" %}
{% load static %}

    {% block content %}<link rel="stylesheet" href="{% static 'lista.css' %}">{% endblock %}


    {% block title %}Pessoas{% endblock %}

    {% block main %}
        <a href="{% url 'logout' %}">Sair</a>
        <ul>
            {% for person in persons %}
                <a href="{% url 'update' person.id %}"> <li> Nome: {{person.first_name}} {{ person.last_name }}
                <br> Idade: {{ person.age }} </li></a>
                <a href="{% url 'delete' person.id %}">deletar</a>
                <br>
                <br>
            {% endfor %}
        </ul>
        <br>

        <a href=" {% url 'person_new' %} ">Cadastrar Novo</a>
    {% endblock %}