{% extends "base.html" %}
{% load static %}

    {% block content %}<link rel="stylesheet" href="{% static 'lista.css' %}">{% endblock %}


    {% block title %}Pessoas{% endblock %}

    {% block main %}
        <div class="principal">
            <a href="{% url 'logout' %}" class="btn-2">Sair</a>
            <ul>
                {% for person in persons %}
                    <a href="{% url 'update' person.id %}">
                        <li class="listinha"> 
                            
                            Nome: <span>{{person.first_name}} {{ person.last_name.capitalize }} </span>
                            
                            <a href="{% url 'delete' person.id %}">deletar</a>
                        </li>
                    </a>
                {% endfor %}
            </ul>
            <a href=" {% url 'person_new' %} " class="btn-3">Cadastrar Novo</a>
        </div>

    {% endblock %}