{% load static %}

<!doctype html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>{% block title %}{% endblock %}</title>
    {% block content %}{% endblock %}
</head>

<body>
    <header>
        <div class="linha"></div>
    </header>

    {% block main %}
    {% endblock %}
    <footer>
        <div class="footer">
            <h4>
                Desenvolvimento Web com Django 2.x
            </h4>
            <h4>
                Desenvolvimento by Rodrigo C®
            </h4>
        </div>
    </footer>
</body>
</html>